# Ignore data files
*.png
*.jpg
*.json
*.local
*.gz
*.tif
*.tiff
MNIST-data/
data/

# TensorFlow Hub files
image-retraining/tf_files/bottlenecks/

# TensorFlow checkpoints
*/checkpoint/*
*/checkpoints/
*/satellite_model/backups/*

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
capstone/
gcp-env/
flex-env/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
tensorflow/flowers_model/checkpoint/
tensorflow/mnist_model/checkpoints/
tensorflow/satellite_model/checkpoints/
tensorflow/satellite_transfer_model/checkpoints/
dataflow/image_processing/formats.csv-00000-of-00001
dataflow/image_processing/beam-temp-formats.csv-48bcdef8f76e11e890d8f218981473e2/a65bd430-c648-48dc-b848-df180e54f9e2.formats.csv
