google-api-python-client==1.7.4
google-cloud-automl==0.1.1
google-cloud-datastore==1.7.1
google-cloud-storage==1.13.0
Pillow==5.0.0
requests==2.13.0
tensorboard==1.12.0
tensorflow==1.12.0
tensorflow-hub==0.1.1
requests==2.20.1
libtiff==0.4.2
